{% extends "base.html" %}

{% block meta %}

<title>How I Rebuilt my Website (with Rust!)</title>
<meta name="description" content="And How I Escaped the JS (React) Ecosystem">
<meta name="keywords" content="TODO">
<meta name="author" content="dvub">

{% endblock %}

{% block content %}
<div>
    <h1 class="text-3xl font-bold">How I Rebuilt my Website with Rust</h1>
    <p class="text-sm">And how you can build your own blog! // dvub </p>
</div>
<h1 class="text-2xl my-3 font-bold">Why? | Inspiration </h1>
<p>
    There were a lot of factors that influenced me in building out this project. Most recently, after getting tired out
    by some other projects (which I should definitely write about soon), I wanted to start something new. Lately I feel
    like I've been on a Rust roll (and rightly so, because Rust is awesome), so I decided to revisit web development,
    but with a Rust-based stack.

    <hr class="m-5 bg-gray-200" />

    For a while now, I've wanted to redesign my personal website to be <b>simpler,</b> not only in terms of the UI/UX,
    but also (and more importantly <i>for me</i>) the DX. I created the first iteration of my personal website nearly 2
    years ago in Next.js, and although it was fun, there was a lot of hassle and complexity involved (a lot of it was
    probably due to my inexperience as a developer, but we'll ignore that).

    <hr class="m-5 bg-gray-200" />

    Another influence in my decision to recreate my website was, well, influencers - specifically software
    streamers/YouTubers - talking about these hype, new, JS-less web dev stacks - like Go + HTMX, etc. - My impersonable
    self would have jumped right on that train <i>if I knew Go</i>, but, well, I don't. I do, however, know an even
    better language: <b>Rust!</b> I've been learning Rust for maybe 2 years now, and although I'm still very much a
    beginner, I'm definitely improving.
</p>
<h1 class="text-2xl my-3 font-bold">How? | The Stack</h1>
<p>
    Here it is, the moment you've been waiting for, the sauce, the magic, the stack (drumroll, please!): <b>Rust + Axum
        + Tera + HTML ( + Tailwind I guess). </b> Let me break that down a bit.
</p>
<ul class="list-disc m-3">
    <li>
        <h3 class="text-xl font-semibold">Rust & Axum</h3>
        As I've (sort of) mentioned before, I just kinda like Rust! As for axum, though, I chose it because it's one
        of the most popular web frameworks, and I want to go with something stable and production-ready.
    </li>
    <li>
        <h3 class="text-xl font-semibold">Tera (And not Askama?)</h3>
        While I was doing research for this project, I was originally going to use Askama.
        However, I wanted to just have one handler/route for <i>all of my posts</i>, and Askama can't really do that.
        So, while I am trading off some type safety for Tera, my code won't be filled with a ton of empty structs for
        each post I want to write.
    </li>
    <li>
        <h3 class="text-xl font-semibold">
            HTML?? (<b>NOT HTMX???</b>)
        </h3>
        Yes, well, at least at the time of me writing this. HTMX is largely meant for
        communicating with your server, for example when submitting a form, etc. But this site doesn't really have a lot
        of that! It's just a bunch of text and some styling. Maybe if I added a comment feature on my posts, I would
        have a use case for HTMX, but for now, plain Ol' HTML will do.
    </li>
    <li>
        <h3 class="text-xl">Tailwind!</h3>
        Honestly, I don't know if I can go back to plain CSS after using Tailwind.
        I can put a design idea into code at blazing speeds.
    </li>

</ul>
<h1 class="text-2xl my-3 font-bold">DX | Worth it? </h1>
<p>As I mentioned before, I wanted to rebuild my website (without JS) for the improved development experience. So, how
    much better is it?
    Right now, <b>it's probably too early to say.</b> But, considering that it only took me a few days to draft the
    backend architecture, styling, and a first post, I think that's really amazing.

    <hr class="m-5 bg-gray-200" />

    Furthermore, considering that for the past 2 years, almost all of my web endeavours have involved React, building
    this project has been <b>a deep breath of fresh air.</b> That's not to say that React is bad, of course.

</p>

<h1 class="text-2xl my-3 font-bold">Credit </h1>
<p> I'd like to finish this up by linking some awesome repositories that I drew a lot of inspiration (and code) from:
</p>
<ul class="list-disc">
    <li>
        <a href="https://github.com/Bechma/todo-axum-askama-htmx" class="underline">Benchma's Todo Example</a>
    </li>
    <li>
        <a href="https://github.com/jacob-ian/rs-htmx" class="underline">Jacob-ian's Example</a>
    </li>
</ul>
<p>Diving into a new stack was challenging at first, and I definitely couldn't have done it without these awesome
    examples.
</p>
<!--
<h1 class="text-2xl my-3 font-bold">Tutorial</h1>
If you want to build something like this for yourself, here's some basic code.
<pre><code class="language-rust">
#[tokio::main]
async fn main() {
    // set up state
    let state = Arc::new(AppState {
        tera: {
            let mut tera = match Tera::new("templates/**/*.html") {
                Ok(t) => t,
                Err(e) => {
                    println!("Parsing error(s): {}", e);
                    ::std::process::exit(1);
                }
            };
            // i dont know what this does
            tera.autoescape_on(vec![".html"]);

            tera
        },
    });

    // set up route handling and assets
    let app = Router::new()
        .route("/", get(root))
        .route("/posts", get(posts))
        // uses a capture!
        .route("/posts/:post", get(render_post))
        // serve assets directory for compiled tailwind CSS
        .nest_service("/assets", tower_http::services::ServeDir::new("assets"))
        .with_state(state);

    let listener = TcpListener::bind("127.0.0.1:3000").await.unwrap();
    axum::serve(listener, app).await.unwrap();
}

</code></pre>
Now, if you want live reloading, add this <b>below your app definition</b>:
<pre><code class="language-rust">let app = ...
#[cfg(debug_assertions)]
let app = {
    use notify::Watcher;
    let livereload = tower_livereload::LiveReloadLayer::new();
    let reloader = livereload.reloader();
    let mut watcher = notify::recommended_watcher(move |_| reloader.reload()).unwrap();
    watcher
        .watch(
            std::path::Path::new("assets"),
            notify::RecursiveMode::Recursive,
        )
        .unwrap();
    watcher
        .watch(
            std::path::Path::new("templates"),
            notify::RecursiveMode::Recursive,
        )
        .unwrap();
    app.layer(livereload)
};</code></pre>

{% endblock %}-->