{% extends "base.html" %}

{% block meta %}

<title>My First Post!</title>
<meta name="description" content="And How I Escaped the JS (React) Ecosystem">
<meta name="keywords" content="Rust">
<meta name="author" content="dvub">

{% endblock %}

{% block content %}

<h1 class="text-2xl my-3 font-bold">Why? & Inspiration </h1>

There were a lot of factors that influenced me in building out this project. Most recently, after getting tired out by some other projects (which I should definitely write about soon), I wanted to start something new. Lately I feel like I've been on a Rust roll, so I decided to revisit web development, but with a Rust-based stack.

<hr class="m-5 bg-gray-200"/>

For a while now, I've wanted to redesign my personal website to be <b>simpler,</b> not only in terms of the UI/UX, but also (and more importantly <i>for me</i>) the DX. I created the first iteration of my personal website nearly 2 years ago in Next.js, and although it was fun, there was a lot of hassle and complexity involved (a lot of it was probably due to my inexperience as a developer but we'll ignore that).

<hr class="m-5 bg-gray-200"/>

As a developer, I watch a lot of YouTube and programming and software, etc. And one of the topics I've seen a lot recently a

{% endblock %}