{%- import "nav/item.html" as nav -%}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ title }}{% endblock %} | DVUB </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="../assets/output.css" rel="stylesheet">
    <!-- {% block meta %}{% endblock %} -->
</head>

<body class="bg-[#19191a] text-[#ededee]">
    <div>
        <ul class="p-5 w-full flex text-xl gap-5 list-none bg-[#242523]">
            {% call nav::item("/", "Home") %}
            {% call nav::item("/posts", "Posts") %}
        </ul>

    </div>
    <div class="mx-[10vw] my-10 text-lg">
        {% block content %} {% endblock %}
    </div>
</body>

</html>